.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.userPic img,
.box img {
  max-width: 200px;
  border-radius: 50%;
}

.box {
  line-height: 1;
  border: 1px solid;
  padding: 25px;
  border-radius: 7px;
}

.listaUsers {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: space-around;
  width: 1000px;
  margin: auto;
}

.container ul {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  width: 80%;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
